doctype 5
html(lang="en")
  head
    title Up and down the river.
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css")
    
  body
    h1 Hello