doctype 5
html(lang="en")
  head
    title Up and down the river.
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css")
    style(type="text/css")
      .editable { border-bottom: 1px dotted #aaa; }
      
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js", data-main="/static/js/app")
    
    script(type="text/ng-template", id="/home.html")
      include templates/home
      
    script(type="text/ng-template", id="/new-game.html")
      include templates/new-game
  body
    .container
      .page-header
        h1 Up and down the river
      .row
        .col-xs-12(class="col-md-6 col-md-offset-3")
          ng-view
          