.panel.panel-default(ng-class="errorClass")
  .panel-heading Enter bids
  .panel-body
    .row
      .col-xs-8.col-xs-offset-2
        accordion(close-others="true")
          accordion-group(heading="{{player.name}}", ng-repeat="player in hand.game.players | orderBy: distanceFromDealer", is-open="biddingIndex === $index")
            .btn-group
              button(ng-repeat="tricks in getAvailableBids(player)", type="button", class="btn", ng-class="getBidClass(player, tricks)", ng-click="bid(player, tricks, $parent.$index)") {{tricks}}
 