.panel.panel-default(ng-class="errorClass")
  .panel-heading Enter players
  .panel-body
    .row
      .col-xs-12(ng-repeat="player in players")
        ud-new-player(player="player", remove="remove(player)", set-dealer="setDealer(player)")
      .col-xs-12
        ud-new-player(player="blank", commit="add(player)")
.panel.panel-default
  .panel-heading Select scoring system
  .panel-body
    select.form-control.input-lg(ng-options="s.title for s in scoringSystems" ng-model="selectedScoringSystem")
.pull-right
    button.btn.btn-lg.btn-primary(type="button", ng-click="start()") Start Game
  