.panel(class="panel-default")
  .panel-heading Enter players
  .panel-body
    .row
      .col-xs-12(ng-repeat="player in players")
        ud-player(player="player", remove="remove(player)")
      .col-xs-12
        ud-player(player="blank", commit="add(player)")
.panel(class="panel-default")
  .panel-heading Select scoring system
  .panel-body
    select.form-control.input-lg(ng-options="s.name for s in scoringSystems" ng-model="selectedScoringSystem")
  