<form role="form" name="form">
    <div class="form-group" ng-class="errorClass">
        <div class="input-group input-lg" ng-if="editing">
            <input type="text" ng-model="player.name" class="form-control" required placeholder="Player name" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="finalise(player)">I'm done</button>
            </span>
        </div>
        <div ng-if="!editing">
            <span class="editable" ng-click="edit()">{{ player.name }}</span>
            <button type="button" class="close" aria-hidden="true" ng-click="remove({player: player})">&times;</button>
        </div>
    </div>
</form>